In [1]:
import pandas as pd
import numpy as np

In [2]:
ls

 Volume in drive T is data_science
 Volume Serial Number is 109B-7FEF

 Directory of T:\EXCELRR\ASSIGNMENTS___EXCELR\3._Hypothesis_Testing

11/09/2021  11:14 AM    <DIR>          .
11/09/2021  11:14 AM    <DIR>          ..
11/09/2021  11:05 AM    <DIR>          .ipynb_checkpoints
01/29/2021  09:23 AM                87 BuyerRatio.csv
11/09/2021  11:14 AM                72 BuyerRatio_hypothesis_test.ipynb
01/29/2021  09:23 AM            13,423 Costomer+OrderForm.csv
01/29/2021  09:23 AM               525 Cutlets.csv
11/09/2021  11:02 AM             6,174 cutlets_hypothesis_test.ipynb
01/29/2021  09:23 AM             5,458 Faltoons.csv
01/29/2021  09:23 AM            65,558 Hypothesis_Testing_Assignment.pptx
01/29/2021  09:23 AM             3,487 LabTAT.csv
11/09/2021  11:14 AM             7,085 minitab_hypothesis_test.ipynb
               9 File(s)        101,869 bytes
               3 Dir(s)   7,488,790,528 bytes free

In [3]:
df = pd.read_csv("BuyerRatio.csv")

In [4]:
df.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [5]:
data = df.iloc[:,1:]

In [6]:
data

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [7]:
obs = data.values

In [8]:
obs

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]], dtype=int64)

In [12]:
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [13]:
#applying chi-square test

In [11]:
chi2_contingency(obs)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [14]:
# here pvalue is 0.66
# as pvalue is greater than alpha so we accept null hypothesis.

In [17]:
# therefore male-female buyer ratios are similar across regions