In [1]:
import pandas as pd
import numpy as np

In [2]:
ls

 Volume in drive T is data_science
 Volume Serial Number is 109B-7FEF

 Directory of T:\EXCELRR\ASSIGNMENTS___EXCELR\3._Hypothesis_Testing

11/09/2021  11:23 AM    <DIR>          .
11/09/2021  11:23 AM    <DIR>          ..
11/09/2021  11:16 AM    <DIR>          .ipynb_checkpoints
01/29/2021  09:23 AM                87 BuyerRatio.csv
11/09/2021  11:22 AM             7,951 BuyerRatio_hypothesis_test.ipynb
01/29/2021  09:23 AM            13,423 Costomer+OrderForm.csv
11/09/2021  11:22 AM                72 Customer_hypothesis_test.ipynb
01/29/2021  09:23 AM               525 Cutlets.csv
11/09/2021  11:02 AM             6,174 cutlets_hypothesis_test.ipynb
01/29/2021  09:23 AM             5,458 Faltoons.csv
01/29/2021  09:23 AM            65,558 Hypothesis_Testing_Assignment.pptx
01/29/2021  09:23 AM             3,487 LabTAT.csv
11/09/2021  11:14 AM             7,085 minitab_hypothesis_test.ipynb
              10 File(s)        109,820 bytes
               3 Dir(s)   7,488,774,144 bytes free

In [3]:
df = pd.read_csv("Costomer+OrderForm.csv")

In [4]:
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [18]:
# applying chi-square contengency independence test

In [19]:
# Null Hypothesis : Independence of categorical variables -> customer order forms defective % does not varies by centre
# Alternate Hypothesis : Dependence of categorical variables -> customer order forms defective % varies by centre

In [6]:
df.columns

Index(['Phillippines', 'Indonesia', 'Malta', 'India'], dtype='object')

In [7]:
df.shape

(300, 4)

In [8]:
df.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [9]:
df.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [11]:
df.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [12]:
df.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [13]:
observation = np.array([[271,267,269,280],[29,33,31,20]])

In [14]:
observation

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [15]:
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [16]:
chi2_contingency(observation)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [17]:
#p value = 0.227

In [20]:
# as pvalue is greater than alpha we accept null Hypothesis

In [21]:
# Customer order forms defective % does not varies by centre