In [2]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("Cutlets.csv")

In [5]:
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [15]:
unitA = pd.Series(data.iloc[:,0])
unitB = pd.Series(data.iloc[:,1])

In [18]:
unitA.head()

0    6.8090
1    6.4376
2    6.9157
3    7.3012
4    7.4488
Name: Unit A, dtype: float64

In [19]:
# Null Hypothesis : There is no difference in diameters of cutlets between two units
# Alternate Hypothesis : There is difference in diameters of cutlets between two units

In [7]:
#applying 2 sample 2 tail test

In [8]:
from scipy import stats
from scipy.stats import norm

In [9]:
pvalue = stats.ttest_ind(unitA,unitB)

In [10]:
pvalue

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.47223947245995)

In [13]:
# as pvalue is greater than 0.05.. so we accept NUll Hypothesis

In [14]:
# therefore there is no difference in cutlets between two units.