In [1]:
import pandas as pd
import numpy as np

In [2]:
ls

 Volume in drive T is data_science
 Volume Serial Number is 109B-7FEF

 Directory of T:\EXCELRR\ASSIGNMENTS___EXCELR\3._Hypothesis_Testing

11/09/2021  11:03 AM    <DIR>          .
11/09/2021  11:03 AM    <DIR>          ..
11/09/2021  10:55 AM    <DIR>          .ipynb_checkpoints
01/29/2021  09:23 AM                87 BuyerRatio.csv
01/29/2021  09:23 AM            13,423 Costomer+OrderForm.csv
01/29/2021  09:23 AM               525 Cutlets.csv
11/09/2021  11:02 AM             6,174 cutlets_hypothesis_test.ipynb
01/29/2021  09:23 AM             5,458 Faltoons.csv
01/29/2021  09:23 AM            65,558 Hypothesis_Testing_Assignment.pptx
01/29/2021  09:23 AM             3,487 LabTAT.csv
11/09/2021  11:03 AM                72 minitab_hypothesis_test.ipynb
               8 File(s)         94,784 bytes
               3 Dir(s)   7,488,806,912 bytes free

In [3]:
df = pd.read_csv("LabTAT.csv")

In [4]:
df.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [5]:
#here we are applying Anova ftest

In [6]:
# Taking Null Hypothesis : No Variance
# Alternate Hypothesis : With variance

In [7]:
from scipy import stats
from scipy.stats import norm

In [8]:
lab1 = df.iloc[:,0]
lab2 = df.iloc[:,1]
lab3 = df.iloc[:,2]
lab4 = df.iloc[:,3]

In [9]:
pvalue = stats.f_oneway(lab1,lab2,lab3,lab4)

In [10]:
pvalue

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [13]:
pvalue[1]

2.1156708949992414e-57

In [14]:
#as p is low so we failed to accept null hypothesis

In [17]:
#so there is difference in average TAT among the different laboratories at 5% significance level.